
.score-board{
  text-align: center;
  margin: 10px;
  font-weight: bold;
  font-family: 'Shadows Into Light'
}

.score-board-box{
  width: 450px;
  border-radius: 60px;
  border: 7px solid rgb(76, 207, 216);
  padding: 5px;
  margin: 5px;
  margin-left: auto;
  margin-right: auto;
  color: black;
  font-size: 24px;
}

.display_score {
    margin: -5px;
    font-size: 20px;
    font-weight: bold;
}

.score{
    margin-bottom: -15px
}
.refresh_button {
    text-align:center;
    font-size: 15px;
    transition: all 0.2s; 
    display:inline-block;
    padding: 15px;
    margin-top: -10px;
    border-radius:4em;
    background-color: rgb(76, 207, 216);;
}

