*{
  background-color: grey;
  text-align: center;
  
}

.app{
  padding: 15px;
  background-color: grey;
  height: 100vh;
}

.game_name {
  text-shadow: 2px 2px 2px rgb(148, 227, 233);
  font-size: 46px;
  font-weight: bold;
  text-decoration: underline;
  font-family: 'Bebas Neue', cursive;
  margin-bottom: -10px;
}

.game{
  width: 560px;
  height: 560px;
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  border-radius: 60px;
  padding: 22px;
  border: 5px solid rgb(71, 69, 69);
  
}

.game img {
  width: 70px;
  height: 70px;
}

.how_to_play{
    text-align: left;
    font-size: 15px;
    padding-bottom: 15px;
}