*{
  background-color: grey;
}

.app{
  padding: 30px;
  background-color: grey;
  height: 100vh;
}

.game{
  width: 560px;
  height: 560px;
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
}

.game img {
  width: 70px;
  height: 70px;
}

.score-board{
  text-align: center;
  margin: 10px;
}

.score-board-box{
  width: 450px;
  border-radius: 60px;
  border: 7px solid rgb(76, 207, 216);
  padding: 5px;
  margin: 7px;
  margin-left: auto;
  margin-right: auto;
  color: black;
  font-size: 24px;
}