.app{
  padding: 30px;
  background-color: grey;
  height: 100vh;
}

.game{
  width: 560px;
  height: 560px;
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
}

.game img {
  width: 70px;
  height: 70px;
}

.score-board{
  text-align: center;
}

.score-board-box{
  width: 300px;
  border-radius: 50px;
  border: solid rgb(76, 207, 216);
  padding: 10px;
  margin: 30px;
  margin-left: auto;
  margin-right: auto;
  color: black;
  font-size: 26px;
}